/* Bulb.css */
.bulb {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    margin: 10px;
    cursor: pointer;
  }
  
  .bulb.on {
    background-color: yellow; /* On color */
  }
  
  .bulb.off {
    background-color: gray; /* Off color */
  }
  