/* Fan.css */

/* Styling for fan buttons */
.fan_box_11_button,
.fan_box_22_button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Additional styles for fan buttons */
.fan_box_11_button {
  margin-right: 20px;
}

/* Styling for fan images */
.fan {
  width: 120px; /* Adjust the size of the fan image */
  height: 120px; /* Adjust the size of the fan image */
  margin-bottom: 10px;
}
