.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gauge {
    position: relative;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
    
    
  }
  
  .gauge__dial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 50%;
    background-color: #ccc;
    border-radius: 5px;
  }
  
  .gauge__pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(-50%, -100%);
    width: 4px;
    height: 45%;
    background-color: #f00; /* Adjust color as needed */
  }
  
  .gauge-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 275px;
    
  }
  